/* Global CSS for all pages */
/* Test
* {
    box-sizing: border-box;
    /* Sizing helper: See Workbook 1b, page 2-33. */

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */


:root {
    --blue: rgb(29, 161, 242);
    --black : rgb(20 ,23 ,26);
    --darkGrey: rgb(101 119 134);
    --lightGrey : rgb(170 ,184, 194);
    --extraLightGrey : rgb(245, 248, 250);
}

body {
    color: var(--black);
    font-family: 'Robot', sans-serif;
}

header {
    font-family: 'Roboto', sans-serif;
    

}

#buttons {
    color: var();
    font-family: 'Roboto', sans-serif;

}





