/* Posts Page CSS */
.navbar {
    background-color: white;
    padding: 10px;
}


body {
    background-color: rgb(201, 215, 226);
}


.card {

    margin: 30px  200px;
    background:white;
    border-style: solid;
    border-width: 2px;
    height: auto;
    border-color:rgb(4, 4, 4) ;
    border-radius: 0.2rem;
    text-indent:  12px;
    text-align: center;
    padding-bottom: 30px;
 
    
}

.subtitle.is-6{
    color: #1DA1F2; 
    letter-spacing: normal;
    font-weight: bolder ;
    font-size: 20px;
}

p{ 
    font-size: 20px;
    margin: 0 20px;
}

.button {
    background-color: #1DA1F2;
   
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

